@import "tailwindcss";
@source "../views";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Margarine&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap');

/* Colores de la marca */
:root{
    --darkgreen: #143829;
    --lightgreen: #2b5b3f;
    --orange: #c4501b;
    --dark-orange: #a0361b;
    --light-orange: #e9972d;
}

.bg-darkgreen{
    background-color: var(--darkgreen);
}
.bg-lightgreen{
    background-color: var(--lightgreen);
}
.bg-lightorange  {
    background-color: var(--light-orange);
}
.bg-orange{
    background-color: var(--orange);
}

.bg-darkorange{
    background-color: var(--dark-orange);
}
.text-darkgreen{
    color: var(--darkgreen);
}
.text-lightgreen{
    color: var(--lightgreen);
}
.text-lightorange  {
    color: var(--light-orange);
}
.text-orange{
    color: var(--orange);
}
.text-darkorange{
    color: var(--dark-orange);
}

/* Estilos */

* {
    font-family: 'Yusei Magic', Arial, sans-serif;
}

html,
body,
#app {
    height: 100%;

}

#app {
    display: grid;
    grid-template-rows: 56px 1fr 100px;
}

h1, h2, h3, h4, h5, h6, a{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

main{
    height: calc(100vh - 56px);
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer p {
    margin: 0;
}